<!doctype html>
<head>
  <title>Search Flipkart</title>
</head>
<body>
  <h3>Search your goodies</h3>
  <form method="get" action="/search/">
    <input type="text" name="q" placeholder="Enter your query here">
    <input type="submit" value="Submit">
    </form>
  <hr>
  <h3>{{ products|length }} results were found in {{ time_taken }} seconds.</h3>
  {% for p in products %}
  <a href="{{ p._source.url  }}">{{ p._source.name}}</a>
  <br>
  Average rating - {{ p._source.ratingValue }} by {{ p._source.ratingCount }} people
  <br>
  Price - {{ p._source.price }}
  <hr>
  {% endfor  %}
</body>
